.features {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    padding: 96px 0;
    background: var(--white);
}

.list-features {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    max-width: 1158px;

}


.decoration-svg {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: var(--cloud);
}

.features-mini-title {
    font-family: var(--font-family);
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;

    /* line-height: 24px; */
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.features-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.list-features-mini {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

@media screen and (min-width:768px) {
    .list-features {

    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 24px;
    row-gap: 72px;
    }

    .list-features-mini {
        width: calc((100% - 24px) / 2);
    }

    .features-mini-title {
        text-align: left;
    }
}

@media screen and (min-width:1158px) {
    .list-features {
        column-gap: 24px;
        row-gap: 24px;
    }
        
    .list-features-mini {
        width: calc((100% - 72px) / 4);
    }

    .features {
        padding: 120px 0;
        
    }

    .features-text {
        font-weight: 400;
    }

    .decoration-svg {
        display: flex;
    }
    .features-mini-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
}
