.header {
    background: var(--white);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: row;
    padding: 0 15px;
    width: 100%;
    max-width: 1158px;

}

.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;

    /*line-height: 24px;*/ 
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0;
    margin-right: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo-akcent {
    color: var(--iris);
}

.logo-navigation {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.logo-nav {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;

    /*line-height: 24px;*/
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    padding: 24px 0px;
    transition-property: color;
        transition-duration: 250ms;
            transition-timing-function: ease;
}
.logo-nav:hover,
.logo-nav:focus {
    color: #404bbf;
}

.logo-nav-current {
    position: relative;
    display: inline-block;
    color: #404bbf;
}


.logo-nav-current::after {
    content: "";
position: absolute;
left: 0;
bottom: 0;
    width: 100%;
    height: 4px;
background: var(--ocean);
border-radius: 2px;
}

.logo-address {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    margin-left: auto;

}

.address {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /*line-height: 24px;*/
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    padding: 24px 0px;
    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: ease;
}

.address:hover,
.address:focus {
    color: #404bbf;

}

.menu-toggle {
    background: transparent;
    border: none;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
}

.logo-navigation,
.logo-address {
    display: none;
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .logo-navigation {
        display: flex;
    }

    .logo-address {
        display: flex;
        flex-direction: column;
            gap: 12px;
            align-items: flex-start;
    }

        .logo {
            margin-right: 120px;
        }

         .address {
             padding: 0;
            font-size: 12px;
                line-height: 1.17;
                letter-spacing: 0.04em;
         }
}

@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }

        .logo-address {
            flex-direction: row;
            gap: 40px;
            align-items: center;
        }
        .address {
            padding: 24px 0;
            font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
        }
}