.hero {
    background: var(--navy-blue);
    background-image: linear-gradient(180deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%), url(../images/hero-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    padding: 188px 0px;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;
    padding: 0px 15px;
    max-width: 1158px;
}

.title-hero {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    font-weight: 700;
    font-size: 56px;

    /* line-height: 60px; */
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    width: 100%;
    max-width: 496px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;

}

.hero-button:hover,
.hero-button:focus {

    background-color: #404bbf;
    color: var(--white);
}


