.modal-overlay {
 opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms ease, visibility 250ms ease;
position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navy-blue-modal);
    z-index: 99999999999;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-content-overlay {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 288px;
    padding: 72px 16px 24px;
    height: 80%;
    max-height: 584px;
    background-color: var(--dairy);
    overflow: auto;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
            0 1px 3px 0 rgba(0, 0, 0, 0.12),
            0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.button-close-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--cornflower);
    fill: var(--navy-blue);
    cursor: pointer;
    padding: 6px;
    line-height: 0;
    transition-property: background-color;
    transition-duration: 250ms;
}

.button-close-modal:hover,
.button-close-modal:focus {
    background-color: var(--ocean);
    fill: var(--white);

}

.close-icon {
    fill: var(--navy-blue);
    transition-property: fill;
        transition-duration: 250ms;
}

.close-icon:hover,
.close-icon:focus {
    fill: var(--white);

}


.modal-title {
    padding-bottom: 0;
    font-family: var(--font-family);
    width: 100%;
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.form-modal {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 0;
        width: 100%;
        height: 448px;
        padding-top: 0;
}

.text-fields {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 0;
        width: 100%;
        margin-bottom: 8px;
}

.input-svg-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    max-width: 100%;
    height: 40px;
    min-height: 40px;

    transition: border 250ms ease;
}

.input-text {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.input-svg-wrapper:hover,
.input-svg-wrapper:focus-within {
    border: 1px solid var(--iris);
}

.form-label {
display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    opacity: 0.7;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;

    /* line-height: 14px; */
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}


.form-icon {
    position: absolute;
    fill: var(--navy-blue);
    left: 16px;

    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms ease;

}

.input-textarea-border {
border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    transition: border-color 250ms ease;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    resize: none;
    gap: 0px;

}

.input-textarea-border:hover,
.input-textarea-border:focus-within {
    border-color: var(--iris);
}

.input-textarea {
    width: 100%;
        height: 100%;
        resize: none;
        border: none;
        outline: none;
        box-sizing: border-box;
    font-family: var(--font-family);
font-weight: 400;
    font-size: 12px;

    /* line-height: 14px; */
    line-height: 1.16667;

    letter-spacing: 0.04em;
    color: var(--navy-blue-modal);
}

.input-textarea::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: var(--navy-blue-modal);
}


.input-svg-wrapper:hover .form-icon,
.input-svg-wrapper:focus-within .form-icon{
    fill: var(--iris);
}


.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    margin-bottom: 24px;
    margin-top: 8px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox-icon {
    fill: var(--white);
    opacity: 0;
    transition: opacity 250ms ease;
}

.native-checkbox:checked+.custom-checkbox .checkbox-icon {
    opacity: 1;
            fill: var(--white);
}

.native-checkbox:checked+.custom-checkbox {
    background-color: var(--ocean);
    border-color: var(--ocean);
}


.custom-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--navy-blue-modal);
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
    background-color 250ms ease,
    border-color 250ms ease;
}

.native-checkbox {
    border-radius: 2px;
        border: 1px solid var(--navy-blue-modal);
}

.text-checkbox {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;

    /* line-height: 14px; */
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}

.text-checkbox-link {
    /* line-height: 16px; */
        line-height: 1.33333;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: var(--iris);
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--iris);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    transition-property: background-color;
    transition-duration: 250ms;
}

.submit-btn:hover,
.submit-btn:focus {
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
    .modal-content-overlay {
        width: 408px;
        padding: 72px 24px 24px;
    }
}